<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
    <div th:if="${msg}">
        <span th:text="${msg}">

        </span>
    </div>
    <div>
        <span> <a href="/uploadfiles">Upload More</a></span>
    </div>

</body>
</html>